[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.2"
ortools = "*"
djangorestframework = "*"
markdown = "*"
celery = {extras = ["redis"], version = "*"}
redis = {extras = ["hiredis"], version = "*"}
drf-spectacular = "*"
importlib-metadata = "==4.13.0"
gunicorn = "*"
psycopg2 = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.10"
